@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  font-family: 'REM';
}
@media only screen and (min-width: 700px) {
  .bigimage {
    width: 480px;
    height: 480px;
  }
}
body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-end-rgb));
}


h1 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
 
  font-size: 24px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}
 
sub {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 200;
}
@keyframes fadeInTransform {  
  from {  
      opacity:0;
      transform: translateY(70vh);  
  }  

  to {  
      opacity:1;
      transform: translateY(0);   
  }  
}
@keyframes fadeIn {  
  from {  
      opacity:0;
  }  

  to {  
      opacity:1;
     
  }  
}
.page-animation {
  opacity:1;
  animation: fadeInTransform 2s ease; 
}

.page-fadein-animation {
  opacity:1;
  animation: fadeIn 2s ease; 
}